@import url('variables.css');
@import url('components/grid.css');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: var(--t-homepage);
}
header {
    height: 100vh;
    width: 100%;
    background-image: url(fotoUxkopie/surface-wall-white-1323712.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
.logo {
    height: 100px;
    width: 200px;
    color: var(--c-text);
    margin-left: 40px;
    vertical-align: top;
    display: inline-block;
   
  }
nav{
    display: flex;
}

nav.mainnav1 {
    width: 100%;
  }
nav ul.mainnav {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
nav.mainnav1 ul.mainnav li:first-child {
    margin-right: 620px;
  }
nav ul.mainnav li.active, nav ul.mainnav li.nav{
    margin-top: 25px;
    margin-right: 25px;
  }
  
  nav ul.mainnav li a {
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: var(--c-text);
  }
  
 nav ul.mainnav li.active a,
  nav ul li:hover a {
    color: var(--c-detail);
  }

.fa-chevron-down{
    color: var(--c-detail);
    position: absolute;
    top: 85%;
    left: 47%;
    text-decoration-line: none;
    
  }
.logo1{
    width: 300px;
    position: absolute;
    top: 34%;
    left: 39%
  }
.container{
    width: 100%;
}

.col-5,.col-7{
    width: 100%;
}
img.image{
    height: 560px;
    width: 100%;
}

.col-5{
    background-color: var(--c-background);
    height: 560px;
}

.h1{
    margin-top: 120px;
    border-bottom: 3px solid var(--c-detail);;
    font-size: 46px;
    display: inline-block;
    text-align: center;
    margin-left: 130px;
  }

.p{
    margin-top: 60px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
    font-size: 20px;
  }

  .li{
    font-size: 23px;
    text-decoration: none;
    list-style: none;
    margin-left: 80px;
  }

  footer{
    background-image: url(fotoUxkopie/surface-wall-white-1323712.jpg);
    width: 100%;
  }

  nav ul.footnav {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  nav ul.footnav li a , nav ul.footnav li.foot, nav ul.footnav li.street{
    display: inline-block;
    padding: 20px;
    text-decoration: none;
    color: var(--c-text);
  }
 .foot{
   font-size: 50px;
   margin-left: 15px;
 }
 .street{
   margin-top: 20px;
 }
.icon{
  margin-top: 15px;
  margin-right: 20px;
}

nav ul.footnav li:first-child{
  margin-right: 250px;
}
nav ul.footnav li:nth-child(2){
  margin-right: 450px;
}

 .fa-instagram, .fa-facebook{
   color: var(--c-detail);
 }


 @media screen and (max-width:1114px) {
  .row{
    display: flex;
    flex-direction: column;
    height: auto;
  }
  nav.mainnav1{
    opacity: 0;
  }
  .image{
    height: 100px;
  }
}
@media screen and (max-width:1320px) {
 
  nav.mainnav1 ul.mainnav li:first-child {
    margin-right: 400px;
  }

  .h1{
    margin-left: 70px;
  }
}
